Proyecto Hospital Villarica V2.0.json
{
  "name": "Proyecto Hospital Villarica copia",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Ingreso de Datos del Paciente - Hospital Villarica",
        "formDescription": "Ingrese a su intranet SSASUR, luego en HCE busque los datos de su paciente. Copie y pegue los datos del paciente en este campo de texto. El sistema extraerá automáticamente: nombre, RUT, previsión, edad y complejidad.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Datos del Paciente (copiar y pegar)",
              "fieldType": "textarea",
              "fieldName": "datos_paciente",
              "placeholder": "Ejemplo: Juan Pérez, RUT 12.345.678-9, Fonasa, 45 años, Alta complejidad",
              "requiredField": true
            },
            {
              "fieldLabel": "Nombre del Médico Solicitante",
              "fieldName": "nombre_medico",
              "placeholder": "Dr. María González",
              "requiredField": true
            },
            {
              "fieldLabel": "RUT del Médico",
              "fieldName": "rut_medico",
              "placeholder": "11.222.333-4"
            },
            {
              "fieldLabel": "Seleccionar Examen(es)",
              "fieldType": "checkbox",
              "fieldName": "examenes_seleccionados",
              "fieldOptions": {
                "values": [
                  {
                    "option": "exam_01|Test multidrogas en orina"
                  },
                  {
                    "option": "exam_02|Solicitud de Células Neoplásicas"
                  },
                  {
                    "option": "exam_03|Solicitud de Biopsia"
                  },
                  {
                    "option": "exam_04|Examen de Test Rápido de Microrganismos Respiratorio"
                  },
                  {
                    "option": "exam_05|Examen Biologia Molecular"
                  },
                  {
                    "option": "exam_06|Formulario VIH"
                  },
                  {
                    "option": "exam_07|Formulario TBC"
                  },
                  {
                    "option": "exam_08|Formulario HANTA"
                  },
                  {
                    "option": "exam_09|Solicitud de TC"
                  },
                  {
                    "option": "exam_10|Solicitud de Radiografía"
                  },
                  {
                    "option": "exam_11|Solicitud de RNM"
                  },
                  {
                    "option": "exam_12|Solicitud De Transfusión"
                  },
                  {
                    "option": "exam_13|Solicitud de Reserva de Hemocomponentes"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "id": "7a4312ba-7d83-4a58-99c4-6bd81025bd52",
      "name": "Formulario Ingreso Pacientes",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        1168,
        848
      ],
      "webhookId": "a7a2a5b6-8296-418e-afe6-06b51985073d",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "datos_paciente_texto",
              "value": "={{ $json.datos_paciente }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "nombre_medico",
              "value": "={{ $json.nombre_medico }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "rut_medico",
              "value": "={{ $json.rut_medico }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "examenes_seleccionados",
              "value": "={{ $json.examenes_seleccionados }}",
              "type": "array"
            },
            {
              "id": "id-6",
              "name": "fecha_ingreso",
              "value": "={{ $now.format('dd/MM/yyyy HH:mm') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "9ac43693-f8f4-4105-aae2-ad154bfc44ef",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        1136
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "id"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "4f84399a-8269-40ba-9f46-5a0b03d125f1",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1120,
        1632
      ],
      "credentials": {
        "openAiApi": {
          "id": "E3LE6K027Y5qmCpR",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "nombre_paciente",
              "value": "={{ $json.output.nombre }}",
              "type": "string"
            },
            {
              "id": "2b263a0c-8844-40a1-806c-b18abc7ceceb",
              "name": "apellido_paterno_paciente",
              "value": "={{ $json.output.apellido_paterno_paciente }}",
              "type": "string"
            },
            {
              "id": "a244f0f1-cdca-4a19-ab77-a97c5cad6495",
              "name": "apellido_materno_paciente",
              "value": "={{ $json.output.apellido_Materno_paciente }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "rut_paciente",
              "value": "={{ $json.output.rut }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "prevision",
              "value": "={{ $json.output.prevision }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "edad",
              "value": "={{ $json.output.edad }}",
              "type": "string"
            },
            {
              "id": "b47579d9-4244-4f75-899d-bd94d6615dc5",
              "name": "fechanacimiento",
              "value": "={{ $json.output.fechanacimiento }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "fecha_registro",
              "value": "={{ $('Workflow Configuration').item.json.fecha_ingreso }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "1cd07f6b-6617-409e-a868-cb44d4a2511f",
      "name": "Preparar Datos Paciente",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1504,
        1360
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1pWbcsmDhysn7ELrRCiT483gmpfsvGTyCjugYQGp68kE",
          "mode": "list",
          "cachedResultName": "Historial Paciente Hospital Villarica",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pWbcsmDhysn7ELrRCiT483gmpfsvGTyCjugYQGp68kE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Pacientes mes de Febrero",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pWbcsmDhysn7ELrRCiT483gmpfsvGTyCjugYQGp68kE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre_paciente": "={{ $json.output.nombre }}",
            "rut_paciente": "={{ $json.output.rut }}",
            "prevision": "={{ $json.prevision }}",
            "edad": "={{ $json.edad }}",
            "complejidad": "={{ $json.complejidad }}",
            "fecha_actual": "={{ $json.fecha_registro }}",
            "medico_nombre": "={{ $json.medico_nombre }}",
            "medico_rut": "={{ $json.medico_rut }}",
            "medico_especialidad": "={{ $json.medico_especialidad }}",
            "examenes_a_realizar": "={{ $json.examenes_seleccionados }}",
            "apellido_paterno_paciente": "={{ $json.output.apellido_paterno_paciente }}",
            "apellido_materno_paciente": "={{ $json.output.apellido_Materno_paciente }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre_paciente",
              "displayName": "nombre_paciente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "apellido_paterno_paciente",
              "displayName": "apellido_paterno_paciente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "apellido_materno_paciente",
              "displayName": "apellido_materno_paciente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rut_paciente",
              "displayName": "rut_paciente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prevision",
              "displayName": "prevision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "edad",
              "displayName": "edad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "complejidad",
              "displayName": "complejidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "medico_nombre",
              "displayName": "medico_nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "medico_rut",
              "displayName": "medico_rut",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "medico_especialidad",
              "displayName": "medico_especialidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_actual",
              "displayName": "fecha_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "examenes_a_realizar",
              "displayName": "examenes_a_realizar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9e0ee0d1-ae2b-4586-b494-ab6a78356ea5",
      "name": "Guardar Historial Pacientes",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1728,
        1536
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vCYm5pIoJUzQfSzB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "7fff28e0-91d5-4a42-99d0-5bb367a9d2b5",
      "name": "Combinar Datos Paciente y Médico",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1728,
        1120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "medico_nombre",
              "value": "={{ $json.nombre_medico }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "medico_rut",
              "value": "={{ $json.rut_medico }}",
              "type": "string"
            },
            {
              "id": "150453a6-6981-4e6e-9c2a-9cf65f8e1d8f",
              "name": "examenes_seleccionados",
              "value": "={{ $json.examenes_seleccionados }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "050eaeea-1d65-47ce-b5fa-f8ebb61bfa6b",
      "name": "Preparar Datos Médico",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        848
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"nombre\": \"Juan\",\n  \"apellido_paterno_paciente\": \"Perez\",\n  \"apellido_Materno_paciente\":\"Roman\",\n  \"rut\": \"12.345.678-9\",\n  \"prevision\": \"Fonasa\",\n  \"edad\": \"45\",\n  \"fechanacimiento\": \"24/12/1998\",\n  \"complejidad\": \"Alta\"\n}"
      },
      "id": "1c8d9038-fb37-423a-8db1-21a7dd010758",
      "name": "Parser Datos Estructurados",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1264,
        1664
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extrae los datos del paciente del siguiente texto:\n\n{{ $('Formulario Ingreso Pacientes').item.json.datos_paciente }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres un asistente especializado en extraer datos de pacientes de texto no estructurado. Tu tarea es identificar y extraer información específica de pacientes del sistema de salud chileno: nombre, apellido paterno, apellido materno, RUT, fechanacimiento (formato chileno con puntos y guión), previsión de salud (Fonasa, Isapre, etc.), edad en años, y nivel de complejidad del caso (Alta, Media, Baja). Si algún dato no está presente en el texto, debes usar \"No especificado\" como valor. Debes ser preciso y mantener el formato correcto del RUT chileno.\n\n40 A 2 M 3 D cuando tengas patrones como este la A significa años la M significa mes y la D signfica dia cuando veas estos parametros quiero que me saques la fecha de nacimiento y la pongan en el output fechanacimiento"
        }
      },
      "id": "a25beca8-690e-4ce4-9ce2-e369dfe143cc",
      "name": "Extraer Datos del Paciente",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1120,
        1424
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "nombre_paciente",
              "value": "={{ $('Combinar Datos Paciente y Médico').item.json.nombre_paciente }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "apellido_paterno_paciente",
              "value": "={{ $('Combinar Datos Paciente y Médico').item.json.apellido_paterno_paciente }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "apellido_materno_paciente",
              "value": "={{ $('Combinar Datos Paciente y Médico').item.json.apellido_materno_paciente }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "rut_paciente",
              "value": "={{ $('Combinar Datos Paciente y Médico').item.json.rut_paciente }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "prevision",
              "value": "={{ $('Combinar Datos Paciente y Médico').item.json.prevision }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "edad",
              "value": "={{ $('Combinar Datos Paciente y Médico').item.json.edad }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "medico_nombre",
              "value": "={{ $('Combinar Datos Paciente y Médico').item.json.medico_nombre }}",
              "type": "string"
            },
            {
              "id": "id-9",
              "name": "medico_rut",
              "value": "={{ $('Combinar Datos Paciente y Médico').item.json.medico_rut }}",
              "type": "string"
            },
            {
              "id": "id-11",
              "name": "fecha_registro",
              "value": "={{ $('Combinar Datos Paciente y Médico').item.json.fecha_registro }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b77899a7-cefc-41a3-b8b2-3e9fbaec119e",
      "name": "Preparar Datos para Plantilla",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        1392
      ]
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1OLmOGgxe_sVJFVpkka86MszUSyXUyU8VQrU5UneRQKQ",
          "mode": "list",
          "cachedResultName": "SOLICITUD Y Consentimiento Informado de Test Multidrogas en Orina",
          "cachedResultUrl": "https://docs.google.com/document/d/1OLmOGgxe_sVJFVpkka86MszUSyXUyU8VQrU5UneRQKQ/edit?usp=drivesdk"
        },
        "name": "=Paciente {{ $json.nombre_paciente }} {{ $json.apellido_paterno_paciente }} {{ $json.apellido_materno_paciente }} Test Multidrogas",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1asNUbsg7mgDCPPDOWjFyRL1kRZ3aX_Ct",
          "mode": "list",
          "cachedResultName": "Test Multidrogas en Orina",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1asNUbsg7mgDCPPDOWjFyRL1kRZ3aX_Ct"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        432,
        1392
      ],
      "id": "62badce7-fb04-44a6-9e35-be2157b3b7d5",
      "name": "Copiar Archivo",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eYVIYC0vyfqLBJk8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "RUTPACIENTE",
              "replaceText": "={{ $('Preparar Datos para Plantilla').item.json.rut_paciente }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "NOMBREPACIENTE",
              "replaceText": "={{ $('Preparar Datos para Plantilla').item.json.nombre_paciente }}"
            },
            {
              "action": "replaceAll",
              "text": "APELLIDOPATERNO",
              "replaceText": "={{ $('Preparar Datos para Plantilla').item.json.apellido_paterno_paciente }}"
            },
            {
              "action": "replaceAll",
              "text": "APELLIDOMATERNO",
              "replaceText": "={{ $('Preparar Datos para Plantilla').item.json.apellido_materno_paciente }}"
            },
            {
              "action": "replaceAll",
              "text": "EDADPACIENTE",
              "replaceText": "={{ $('Preparar Datos Paciente').item.json.output.edad }} Años"
            },
            {
              "action": "replaceAll",
              "text": "PREVISIONPACIENTE",
              "replaceText": "={{ $('Preparar Datos para Plantilla').item.json.prevision }}"
            },
            {
              "action": "replaceAll",
              "text": "NombreMedico",
              "replaceText": "={{ $('Preparar Datos para Plantilla').item.json.medico_nombre }}"
            },
            {
              "action": "replaceAll",
              "text": "FechaSolicitud",
              "replaceText": "={{ $('Preparar Datos para Plantilla').item.json.fecha_registro }}"
            },
            {
              "action": "replaceAll",
              "text": "fechanacimiento",
              "replaceText": "={{ $('Combinar Datos Paciente y Médico').item.json.output.fechanacimiento }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        656,
        1392
      ],
      "id": "ac3882cb-a7a4-46f1-bdab-e50b95aa44df",
      "name": "Sobreescribir documento",
      "alwaysOutputData": false,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "s2GmDiGFlDZeENQq",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1NIVCwy_JNAIp3xXwg-ZrsfV8pvjWUx47E7KGjSid0YA",
          "mode": "list",
          "cachedResultName": "Solicitud de Examen Biología Molecular",
          "cachedResultUrl": "https://docs.google.com/document/d/1NIVCwy_JNAIp3xXwg-ZrsfV8pvjWUx47E7KGjSid0YA/edit?usp=drivesdk"
        },
        "name": "=Paciente {{ $json.nombre_paciente }} {{ $json.apellido_paterno_paciente }} {{ $json.apellido_materno_paciente }} Solicitud de Transfusión ",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1c-Xkp4ZY38DpLH1Txt7Iw9j6ZvSfQIlR",
          "mode": "list",
          "cachedResultName": "Solicitud Examen Biología Molecular",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1c-Xkp4ZY38DpLH1Txt7Iw9j6ZvSfQIlR"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        400,
        2112
      ],
      "id": "431d8748-a8be-4da7-94b3-cd2edb6e9b52",
      "name": "Copiar Archivo1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eYVIYC0vyfqLBJk8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "RUTPACIENTE",
              "replaceText": "={{ $('Preparar Datos para Plantilla1').item.json.rut_paciente }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "NOMBREPACIENTE",
              "replaceText": "={{ $('Preparar Datos para Plantilla1').item.json.nombre_paciente }}"
            },
            {
              "action": "replaceAll",
              "text": "APELLIDOPATERNO",
              "replaceText": "={{ $('Preparar Datos para Plantilla1').item.json.apellido_paterno_paciente }}"
            },
            {
              "action": "replaceAll",
              "text": "APELLIDOMATERNO",
              "replaceText": "={{ $('Preparar Datos para Plantilla1').item.json.apellido_materno_paciente }}"
            },
            {
              "action": "replaceAll",
              "text": "EDAD",
              "replaceText": "={{ $('Preparar Datos para Plantilla1').item.json.edad }} Años"
            },
            {
              "action": "replaceAll",
              "text": "NombreMedico",
              "replaceText": "={{ $('Preparar Datos para Plantilla1').item.json.medico_nombre }}"
            },
            {
              "action": "replaceAll",
              "text": "FechaSolicitud",
              "replaceText": "={{ $('Preparar Datos para Plantilla1').item.json.fecha_registro }}"
            },
            {
              "action": "replaceAll",
              "text": "fechanacimiento",
              "replaceText": "={{ $('Combinar Datos Paciente y Médico').item.json.output.fechanacimiento }}"
            },
            {
              "action": "replaceAll",
              "text": "NombreMedico",
              "replaceText": "={{ $('Preparar Datos para Plantilla1').item.json.medico_nombre }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        576,
        2112
      ],
      "id": "79d63bd8-f115-4077-ad1e-39b0122475c5",
      "name": "Sobreescribir documento1",
      "alwaysOutputData": false,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "s2GmDiGFlDZeENQq",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "nombre_paciente",
              "value": "={{ $('Combinar Datos Paciente y Médico').item.json.nombre_paciente }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "apellido_paterno_paciente",
              "value": "={{ $('Combinar Datos Paciente y Médico').item.json.apellido_paterno_paciente }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "apellido_materno_paciente",
              "value": "={{ $('Combinar Datos Paciente y Médico').item.json.apellido_materno_paciente }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "rut_paciente",
              "value": "={{ $('Combinar Datos Paciente y Médico').item.json.rut_paciente }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "prevision",
              "value": "={{ $('Combinar Datos Paciente y Médico').item.json.prevision }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "edad",
              "value": "={{ $('Combinar Datos Paciente y Médico').item.json.edad }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "medico_nombre",
              "value": "={{ $('Combinar Datos Paciente y Médico').item.json.medico_nombre }}",
              "type": "string"
            },
            {
              "id": "id-9",
              "name": "medico_rut",
              "value": "={{ $('Combinar Datos Paciente y Médico').item.json.medico_rut }}",
              "type": "string"
            },
            {
              "id": "id-11",
              "name": "fecha_registro",
              "value": "={{ $('Combinar Datos Paciente y Médico').item.json.fecha_registro }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f69318ad-c9fa-4638-b108-c390d87a3ae8",
      "name": "Preparar Datos para Plantilla1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        2112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "examenes_seleccionados",
              "value": "={{ $json.examenes_seleccionados }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "e714b5db-cdcc-414f-a42c-4cd04edeb7ed",
      "name": "Separar Array de Exámenes",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2016,
        1872
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.examenes_seleccionados }}",
                    "rightValue": "exam_01",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Test Multidrogas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.examenes_seleccionados }}",
                    "rightValue": "exam_02",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Células Neoplásicas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.examenes_seleccionados }}",
                    "rightValue": "exam_03",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Biopsia"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.examenes_seleccionados }}",
                    "rightValue": "exam_04",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Test Respiratorio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.examenes_seleccionados }}",
                    "rightValue": "exam_05",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Biología Molecular"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.examenes_seleccionados }}",
                    "rightValue": "exam_06",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VIH"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.examenes_seleccionados }}",
                    "rightValue": "exam_07",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TBC"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.examenes_seleccionados }}",
                    "rightValue": "exam_08",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HANTA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.examenes_seleccionados }}",
                    "rightValue": "exam_09",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TC"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.examenes_seleccionados }}",
                    "rightValue": "exam_10",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Radiografía"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.examenes_seleccionados }}",
                    "rightValue": "exam_11",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RNM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.examenes_seleccionados }}",
                    "rightValue": "exam_12",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Transfusión"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.examenes_seleccionados }}",
                    "rightValue": "exam_13",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reserva Hemocomponentes"
            }
          ]
        },
        "options": {}
      },
      "id": "df06abe3-3965-4a10-b763-c0f89d7695d2",
      "name": "Enrutar por Tipo de Examen",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2464,
        1696
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "examenes_seleccionados",
        "options": {}
      },
      "id": "bf20b3c9-6d85-422e-8ac8-14e658897af8",
      "name": "Recorrer Exámenes Seleccionados",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2240,
        1872
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. Validamos que el ítem y la propiedad existan para evitar el error \"undefined\"\nconst rawData = item.json.datos_paciente_texto || \"\";\nconst fechaIngresoStr = item.json.fecha_ingreso || \"\";\n\n// Si no hay datos, devolvemos un objeto vacío pero estructurado para no romper el flujo\nif (!rawData) {\n    return { error: \"No se encontraron datos en datos_paciente_texto\" };\n}\n\n// 2. Separar por tabulaciones\nconst columns = rawData.split('\\t').map(col => col.trim());\n\n// 3. Procesar Nombres (Lógica: Nombre1 Nombre2 ApellidoP ApellidoM)\nconst fullParts = columns[0] ? columns[0].split(' ').filter(p => p.length > 0) : [];\nconst apellidoM = fullParts.length > 2 ? fullParts.pop() : \"No especificado\";\nconst apellidoP = fullParts.length > 1 ? fullParts.pop() : \"No especificado\";\nconst nombres = fullParts.join(' ') || \"No especificado\";\n\n// 4. Formatear RUT (Eliminar puntos, mantener guion)\nlet rutLimpio = (columns[1] || \"\").replace(/[^0-9kK]/g, '');\nlet rutFormateado = \"No especificado\";\nif (rutLimpio.length > 1) {\n    rutFormateado = `${rutLimpio.slice(0, -1)}-${rutLimpio.slice(-1).toUpperCase()}`;\n}\n\n// 5. Cálculo de Fecha de Nacimiento\nlet fechaNac = \"No especificado\";\nlet edadAnios = \"No especificado\";\nconst edadString = columns[6] || \"\"; \nconst matchEdad = edadString.match(/(\\d+)\\s*A\\s*(\\d+)\\s*M\\s*(\\d+)\\s*D/);\n\nif (matchEdad && fechaIngresoStr) {\n    try {\n        edadAnios = matchEdad[1];\n        const meses = parseInt(matchEdad[2]);\n        const dias = parseInt(matchEdad[3]);\n\n        // Parsear fecha de ingreso (DD/MM/YYYY HH:mm)\n        const partesFecha = fechaIngresoStr.split(' ')[0].split('/');\n        if (partesFecha.length === 3) {\n            let fechaReferencia = new Date(partesFecha[2], partesFecha[1] - 1, partesFecha[0]);\n            \n            fechaReferencia.setFullYear(fechaReferencia.getFullYear() - parseInt(edadAnios));\n            fechaReferencia.setMonth(fechaReferencia.getMonth() - meses);\n            fechaReferencia.setDate(fechaReferencia.getDate() - dias);\n\n            const dd = String(fechaReferencia.getDate()).padStart(2, '0');\n            const mm = String(fechaReferencia.getMonth() + 1).padStart(2, '0');\n            const yyyy = fechaReferencia.getFullYear();\n            fechaNac = `${dd}-${mm}-${yyyy}`;\n        }\n    } catch (e) {\n        fechaNac = \"Error en cálculo\";\n    }\n}\n\n// 6. Retornar el JSON estructurado final\nreturn {\n  paciente: {\n    nombre: nombres,\n    apellido_paterno: apellidoP,\n    apellido_materno: apellidoM,\n    rut: rutFormateado,\n    fechanacimiento: fechaNac,\n    prevision: columns[3] || \"No especificado\",\n    edad_anios: edadAnios\n  },\n  medico: {\n    nombre: item.json.nombre_medico || \"No especificado\",\n    rut: item.json.rut_medico || \"No especificado\"\n  },\n  metadatos: {\n    examenes: item.json.examenes_seleccionados || [],\n    fecha_ingreso: fechaIngresoStr,\n    modo: item.json.formMode || \"no-especificado\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        1152
      ],
      "id": "010a3887-4b3b-48cf-ad12-76fb63d9c92d",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {
    "Formulario Ingreso Pacientes": [
      {
        "json": {
          "datos_paciente": "CAMILA LORENA ROMAN PILLADO\t16766300-1\t\tFONASA - D\tNO\tNO\t38 A 2 M 3 D\t",
          "nombre_medico": "Sebastian Roman",
          "rut_medico": "17613624-3",
          "examenes_seleccionados": [
            "exam_01|Test multidrogas en orina",
            "exam_05|Examen Biologia Molecular"
          ],
          "submittedAt": "2026-02-19T17:07:12.661-03:00",
          "formMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Formulario Ingreso Pacientes": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar Datos Médico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extraer Datos del Paciente",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos Paciente": {
      "main": [
        [
          {
            "node": "Combinar Datos Paciente y Médico",
            "type": "main",
            "index": 1
          },
          {
            "node": "Guardar Historial Pacientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos Médico": {
      "main": [
        [
          {
            "node": "Combinar Datos Paciente y Médico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar Datos Paciente y Médico": {
      "main": [
        [
          {
            "node": "Separar Array de Exámenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos del Paciente": {
      "main": [
        []
      ]
    },
    "Parser Datos Estructurados": {
      "ai_outputParser": [
        [
          {
            "node": "Extraer Datos del Paciente",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos para Plantilla": {
      "main": [
        [
          {
            "node": "Copiar Archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copiar Archivo": {
      "main": [
        [
          {
            "node": "Sobreescribir documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copiar Archivo1": {
      "main": [
        [
          {
            "node": "Sobreescribir documento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos para Plantilla1": {
      "main": [
        [
          {
            "node": "Copiar Archivo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrutar por Tipo de Examen": {
      "main": [
        [
          {
            "node": "Preparar Datos para Plantilla",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [],
        [
          {
            "node": "Preparar Datos para Plantilla1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar Array de Exámenes": {
      "main": [
        [
          {
            "node": "Recorrer Exámenes Seleccionados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recorrer Exámenes Seleccionados": {
      "main": [
        [
          {
            "node": "Enrutar por Tipo de Examen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Preparar Datos Paciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "292993e1-2f4c-451a-ae57-935f9646c221",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "31acbb922989282bc3a5fd2f3b4083cbfb98d627862d981ecf0e500938180ebe"
  },
  "id": "7xv722SCA7QlQSIV",
  "tags": []
}